/* Genel stiller */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

/* Başlık stilleri */
header {
    background: #333;
    color: #fff;
    padding-top: 20px;
    min-height: 70px;
    border-bottom: #5E72E4 3px solid;
    display: flex; /* Add this line */
    align-items: center;
}

header h1 {
    float: left;
    margin-left: 20px;
    flex: 1; /* Add this line */
}

/* Menü stilleri */
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav ul li {
    display: inline;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 15px;
    display: inline-block;
}

nav a:hover {
    background: #5E72E4;
}

/* İçerik stilleri */
#content {
    background: #fff;
    padding: 20px;
    min-height: 500px;
}

/* Form stilleri */
form {
    max-width: 300px;
    margin: 20px auto;
    margin-right: 10px; /* Add this line */
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input[type="text"],
form input[type="password"],
form input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

.submit_button {
    width: 100%;
    background: #333;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.submit_button:hover {
    background: #5E72E4;
}


.container {
    width: 80%;
    margin: auto;
}

.blog-post {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
}

.blog-post h3 {
    margin-top: 0;
}

.blog-post p {
    margin-bottom: 10px;
}

.blog-post .button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.blog-post .button:hover {
    background-color: #5E72E4;
}

.blog-title-link {
    display: block;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-decoration: none;
    color: inherit;
    transition: background-color 0.3s;
    text-align: center;
}

.blog-title-link:hover {
    background-color: rgba(51, 51, 51, 0.8);
    color: white;
    transition: .3s;
}

.new-post-button,
.logout-button {
    background-color: #5E72E4;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1%;
}

.new-post-button:hover{
    background-color: chocolate;
    transition: .5s ease;
}

.logout-button:hover{
    background-color: #f05252;
    transition: .5s ease;
}